.container{
    display: flex;
    height: 200px;
}

.container div{
    font-size: 30px;
    color: white;
    background-color: darkblue;
    flex: 1;
}

.container div:nth-child(even){
    background-color: salmon;
    flex: 5;
}

.content-1{
    height: 500px;
    background-color: blue;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.content-1 div{
    background-color: rosybrown;
    height: 100px;
    width: 100px;

}